{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
      <div class="gallery-article">
        {{ content }}
      </div>

      <div class="grid-container">

        <a href="{{ base_url }}/image/pic-1.png" target="_blank">
          <picture>
              <source media="(min-width: 668px)" srcset="{{ base_url }}/image/pic-1.png?w=400&q=60&co=7">
              <source media="(min-width: 376px)" srcset="{{ base_url }}/image/pic-1.png?w=500&q=70&co=7">
              <img src="{{ base_url }}/image/pic-1.png?w=375&q=60" class="max-width" alt="1950s-image">
          </picture>
        </a>
        <a href="{{ base_url }}/image/pic-2.png" target="_blank">
          <picture>
              <source media="(min-width: 668px)" srcset="{{ base_url }}/image/pic-2.png?w=400&q=60&co=7">
              <source media="(min-width: 376px)" srcset="{{ base_url }}/image/pic-2.png?w=500&q=70&co=7">
              <img src="{{ base_url }}/image/pic-2.png?w=375&q=60" class="max-width" alt="1950s-image">
          </picture>
        </a>
      
        <a href="{{ base_url }}/image/pic-3.png" target="_blank">
          <picture>
              <source media="(min-width: 668px)" srcset="{{ base_url }}/image/pic-3.png?w=400&q=60&co=7">
              <source media="(min-width: 376px)" srcset="{{ base_url }}/image/pic-3.png?w=500&q=70&co=7">
              <img src="{{ base_url }}/image/pic-3.png?w=375&q=60" class="max-width" alt="1950s-image">
          </picture>
        </a>

        <a href="{{ base_url }}/image/pic-4.png" target="_blank">
          <picture>
              <source media="(min-width: 668px)" srcset="{{ base_url }}/image/pic-4.png?w=400&q=60&co=7">
              <source media="(min-width: 376px)" srcset="{{ base_url }}/image/pic-4.png?w=500&q=70&co=7">
              <img src="{{ base_url }}/image/pic-4.png?w=375&q=60" class="max-width" alt="1950s-image">
          </picture>
        </a>

        <a href="{{ base_url }}/image/pic-5.png" target="_blank">
          <picture>
              <source media="(min-width: 668px)" srcset="{{ base_url }}/image/pic-5.png?w=400&q=60&co=7">
              <source media="(min-width: 376px)" srcset="{{ base_url }}/image/pic-5.png?w=500&q=70&co=7">
              <img src="{{ base_url }}/image/pic-5.png?w=375&q=60" class="max-width" alt="1950s-image">
          </picture>
        </a>

        <a href="{{ base_url }}/image/pic-6.png" target="_blank">
          <picture>
              <source media="(min-width: 668px)" srcset="{{ base_url }}/image/pic-6.png?w=400&q=60&co=7">
              <source media="(min-width: 376px)" srcset="{{ base_url }}/image/pic-6.png?w=500&q=70&co=7">
              <img src="{{ base_url }}/image/pic-6.png?w=375&q=60" class="max-width" alt="1950s-image">
          </picture>
        </a>
      </div>

      <div class="embed-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rAUJSc6unAg?si=COU38-gzUnAONJHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
